<!DOCTYPE html>
<html>
<head>
<title>Jobrido</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/home/jiji/salaryproject/myapp/static/css/style.css">
<link rel="stylesheet" href="/home/jiji/salaryproject/myapp/static/css/style.css">
<style>
/* ... */
</style>
</head>
<body>

<header class="w3-container w3-black">
  <h1>Jobrido</h1>
  <p>Dream big achieve it</p>
</header>

<nav class="w3-navbar w3-black w3-hover-grey">
  <a href="#" class="w3-active w3-bar-item">Home</a>
  <a href="#" class="w3-bar-item">About Us</a>
  <a href="#" class="w3-bar-item">Services</a>
  <a href="#" class="w3-bar-item">Portfolio</a>
  <a href="#" class="w3-bar-item">Contact</a>
</nav>

<div class="w3-container w3-center w3-jumbo w3-text-white" style="background-image: url('hero-image.jpg');">
  <h1>Your Big Title</h1>
  <p>A short and captivating description of your website or services.</p>
  <button class="w3-button w3-black w3-margin-bottom">Learn More</button>
</div>

<div class="w3-container w3-light-grey" style="padding:32px">
  <h3 class="w3-center">Our Services</h3>
  <p class="w3-center w3-text-grey">What we can do for you</p>
  <div class="w3-row-padding">
    <div class="w3-col m3">
      <i class="fa fa-cog w3-text-blue w3-margin-bottom w3-jumbo"></i>
      <h3>Service 1</h3>
      <p>Description of service 1.</p>
    </div>
    <div class="w3-col m3">
      <i class="fa fa-globe w3-text-green w3-margin-bottom w3-jumbo"></i>
      <h3>Service 2</h3>
      <p>Description of service 2.</p>
    </div>
    <div class="w3-col m3">
      <i class="fa fa-trophy w3-text-orange w3-margin-bottom w3-jumbo"></i>
      <h3>Service 3
